.swing{
    -moz-animation: 1s ease-in-out 0s normal none infinite swing;
    -moz-transform-origin: center top;
    -webkit-animation:swing 1s infinite ease-in-out;
    -webkit-transform-origin:top;
}

@-moz-keyframes swing{
 0% {-moz-transform: rotate(5deg);}
 25% {-moz-transform: rotate(-5deg);}
 50% {-moz-transform: rotate(5deg);}
75%{-moz-transform: rotate(-5deg);}
100%{-moz-transform: rotate(5deg);}
}

@-webkit-keyframes swing{
    0%{-webkit-transform:rotate(-5deg)}
    25%{-webkit-transform:rotate(5deg)}
    50%{-webkit-transform:rotate(-5deg)}
    75%{-webkit-transform:rotate(5deg)}
    100%{-webkit-transform:rotate(-5deg)}
}
