<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Spring Boot and Thymeleaf example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/css/main.min.css}"/>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="webjars/bootstrap/3.3.5/css/bootstrap.min.css"/>
</head>
<body>
<h3>Spring Boot and Thymeleaf</h3>
<p>Hello World!</p>
	<nav>
		<ul>
			<li>
				hi
			</li>
			<li>
				my
			</li>
			<li>name</li>
			<li>i</li>
		</ul>
	</nav>
	<script th:src="@{/js/bundle.js}"></script>
</body>
</html>