<!DOCTYPE html SYSTEM "about:legacy-compat">
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Spring Boot and Thymeleaf example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <script th:src="@{/frontDependencies/superfish/js/jquery.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	<script src="https://code.angularjs.org/1.4.8/angular-resource.min.js"></script>
	<script th:src="@{/js/template.js}"></script>
	<script th:src="@{/frontDependencies/superfish/js/superfish.min.js}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>

    <link rel="stylesheet" th:href="@{/frontDependencies/superfish/css/superfish.css}"/>
	<link rel="stylesheet" th:href="@{/css/main.min.css}"/>
   <!--<script th:src="@{/frontDependencies/superfish/js/hoverIntent.js}"></script>-->
	
</head>
<body ng-app="booksApp" ng-controller="MainCtrl" >
	<div class="column-10 column-offset-1">
		<div id="left-menu" class="text-uppercase">
			<ul id="left" class="main sf-menu">
				<li ui-sref-active="active">
					<a href ui-sref="home">Home</a>
				</li>
				<li>
					<a href ui-sref="books({view: 'all'})">Book List</a>
					<ul>
						<li>
							<a href ui-sref="books({view: 'all'})">All Books</a>	
						</li>
						<li>
							<a href ui-sref="books({view: 'friends'})">My Friend's Books</a>
						</li>
					</ul>
				</li>
				<li>
					<a href ui-sref="books({view: 'my_books'})">My library</a>
					<ul>
						<li>
							<a href ui-sref="books({view: 'my_books'})">My books</a>	
						</li>
						<li>
							<a href ui-sref="books({view: 'my_book_requests'})">Pending requests</a>
						</li>
					</ul>
				</li>
				<li>
					<a href ui-sref="user">My Account</a>
					<ul>
						<li>
							<a href ui-sref="user">Profile</a>	
						</li>
						<li>
							<a href ui-sref="friends">Friends</a>
						</li>
						<li>
							<a href="#">Messages</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">About</a>
					<ul>
						<li>
							<a href="#">FAQ</a>
						</li>
						<li>
							<a href="#">Contact Us</a>
						</li>
					</ul>
				</li>
				<li id="right">
					<a href="#"><i class="fa fa-user"></i></a>
					<ul>
						<li>
							<a href="#">Login</a>
						</li>
						<li>
							<a href="#">Register</a>
						</li>
						<li>
							<a class="swing" href="#"><i class="fa fa-bell"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-sign-out"></i></a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<script type="text/javascript">
			(function($){
				$(document).ready(function(){
					console.log("Hello jquery");
					var login = $("#right");
					console.log(login.offset().left + " Offset left");
					var w = $(window);
					var navListPadding = $("#left").css("padding-left").replace("px", "");
					console.log(navListPadding + " Offset left");
					var right = w.width() - login.outerWidth() - login.offset().left - (w.width()-83.33333333/100*w.width())/2 - navListPadding;
					console.log(right + " right");
					$("#right").css("margin-left",right);
				});
			})(jQuery);
		</script>
		<!--<div id="right-menu">
			<ul id="right" class="sf-menu">
				<li>
					<a href="#">Home</a>
				</li>
			</ul>
		</div>-->
	</div>
	
	<div class="column-10 column-offset-1">
	

		
		<div class="main-body">
			<div ui-view="main"></div>
	
			<h3>Spring Boot and Thymeleaf</h3>
			<p>Hello World!</p>
			{{test}}

		</div>
	
	</div>
	<script>

		jQuery(document).ready(function() {
			jQuery('ul.sf-menu').superfish({
				delay:       350,                            // one second delay on mouseout
				speed:       'slow',                          // faster animation speed
				autoArrows:  false                            // disable generation of arrow mark-up
			});
		});

	</script>
</body>
</html>